.list-item3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-family: 'Roboto';
  background-color: #1a171d;
  margin: 10px;
}
.par3 {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
.pa3 {
  background-color: #f3aa4e;
  color: #323f4b;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  border-radius: 40px;
  margin-right: 10px;
}